<% if flash.now[:notice] %>
<p><%= flash.now[:notice] %></p>
<% end %>

<%= form_for @job do |f| %>
  <dl>
    <dt><%= f.label :title, 'Título' %></dt>
    <dd><%= f.text_field :title %></dd>
    <dt><%= f.label :location, 'Local' %></dt>
    <dd><%= f.text_field :location %></dd>
    <dt><%= f.label :category, 'Categoria' %></dt>
    <dd><%= f.text_field :category %></dd>
    <dt><%= f.label :company_id, 'Empresa' %></dt>
    <dd><%= f.collection_select(:company_id, @companies, :id, :name) %></dd>
    <dt><%= f.label :description, 'Descrição' %></dt>
    <dd><%= f.text_field :description %></dd>
  </dl>
  <%= f.label :featured, 'Destaque' %>
  <%= f.check_box :featured %>
  <%= f.submit text_submit %>
<% end %>
