<h1><%= @job.title %></h1>
</div>
 <%= @job.category %>
 <%= @job.company %>
 <%= @job.description %>
 <%= @job.location %>
 <strong><%= 'Destaque' if @job.featured? %></strong>
</div>
<%= link_to 'Voltar', root_path %>
